@import url("https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

/*---------------------------------------------------Colors*/
.bg-black {
  background-color: #000000;
}

.bg-dark-custom {
  background-color: #000000;
}

.red {
  color: #ff8080;
}

.yellow {
  color: #ffff66;
}

.blue {
  color: #80ccff;
}

small {
  color: #b1afaf;
}

.description {
  background-color: #fafafa;
  color: #000000;
}

.description-red {
  border: 5px solid rgba(255, 255, 102, 1);
}

hr {
  color: #b1afaf;
}

small {
  color: #b1afaf;
}

.col-red {
  background-color: #ff8080;
  color: #000000;
}

.col-yellow {
  background-color: #ffff66;
  color: #000000;
}

.col-blue {
  background-color: #80ccff;
  color: #000000;
}
.text-grid {
  color: #fafafa;
}

.text-grid-gray {
  color: #7e7d7d;
}

legend.red {
  color: #ff8080;
}

legend.yellow {
  color: #ffff66;
}

legend.blue {
  color: #80ccff;
}

table {
    color:#7e7d7d;
}

/*---------------------------------------------------Typography*/
.title-museum {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #fafafa;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 30px;
}
.title-museum-small {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 30px;
}

.title-museum-body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #fafafa;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 30px;
}

nav div::first-letter {
  font-weight: 700;
  font-size: 150%;
}

.word-title::first-letter {
  font-weight: 700;
  font-size: 150%;
}

.word-title {
  display: inline-block;
}

nav div {
  display: inline-block;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fafafa;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 20px;
}

.text-grid {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 20px;
  margin: auto 15px;
}

.social-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fafafa;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}

.h2-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 40px;
  padding: 30px 0px;
  text-align: center;
}

.h3-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 25px;
  padding: 30px 0px;
  text-align: center;
}

.text-description {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 200;
  padding-top: 30px;
  text-align: center;
}

.link-style {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #fafafa;
  text-decoration: none;
}

h5 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.h5-title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #fafafa;
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.btn-red {
  font-family: "Lato", sans-serif;
}

form {
  font-family: "Montserrat", sans-serif;
  color: #fafafa;
  font-size: 16px;
  font-weight: 200;
  padding-top: 30px;
}

.legend-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #fafafa;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 18px;
  padding: 30px 0px;
  text-align: center;
}

/*---------------------------------------------------Body*/
html,
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

/*---------------------------------------------------Header*/
header {
  margin: 0;
  padding: 0;
  height: 12vh;
}

.title-museum,
.title-museum-small {
  display: inline;
  padding-left: 20px;
}

.light {
  font-weight: 300;
  font-size: 50%;
}

ul li {
  display: inline;
  margin: 25px 0px 0px 20px;
  line-height: 2;
}

.link-style:hover {
  font-weight: 700;
}

/*---------------------------------------------------Main*/

main {
  margin-top: 15vh;
  position: relative;
}

/*---------------------------------------------------Hero*/

main.container-fluid {
  margin: 0 0 0 0;
  padding-top: 12vh;
  max-width: 100%;
}

.hero-image-style {
  object-fit: cover;
  width: 100%;
  margin: 0;
  padding: 0;
  max-height: 650px;
  position: relative;
}

figcaption {
  text-align: right;
}

/*---------------------------------------------------Blockquote*/

.blockquote-style {
  background-color: #ff8080;
  border-radius: 10px;
  padding: 10px;
  margin: 50px auto;
  text-align: center;
  width: 60%;
}

.blockquote-text {
  color: #fafafa;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  line-height: 2;
  font-size: 20px;
}

.signature {
  font-family: "Jim Nightshade", cursive;
  font-size: 18px;
  text-align: right;
}

hr {
  border-top: 1px solid #b1afaf;
  border-bottom: 1px solid #b1afaf;
}

/*---------------------------------------------------Upcoming Exhibitions*/
.upcoming {
  margin: 50px 0;
}
.card-cover {
  object-fit: cover;
  width: 100%;
  height: 368px;
}
/*---------------------------------------------------Collection*/

.col-collection {
  height: 400px;
}

.img-collection {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.collection {
  padding-bottom: 50px;
  box-sizing: content-box;
}

.text-grid {
  display: block;
}

/*---------------------------------------------------Contact Form*/

.form-group-style {
  margin: 0px auto;
  max-width: 80%;
}

form {
  margin-bottom: 50px;
}

.h5-contact{
    margin-bottom: 30px;
}

legend{
    margin-top: 0px;
    padding-top: 0px;
}
/*---------------------------------------------------Footer*/

footer {
  position: relative;
  padding-top: 30px;
}

.icon {
  font-size: 20px;
  color: #b1afaf;
  padding: 10px 30px;
}

/*---------------------------------------------------Media Queries*/

@media (min-width: 768px) {
  .form-group-style {
    margin: 0px auto;
    max-width: 60%;
  }
}

