/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-size: 10px;
}

/*---------------------------------------------------Colors*/
.bg-black {
  background-color: #121212;
}

.bg-dark-custom {
  background-color: #121212;
}

.red {
  color: #ff8080;
}

.yellow {
  color: #ffff66;
}

.blue {
  color: #80ccff;
}

small {
  color: #b1afaf;
}

.description {
  background-color: #fafafa;
  color: #000000;
}

.description-red {
  border: 5px solid rgba(255, 255, 102, 1);
}

hr {
  color: #b1afaf;
}

small {
  color: #b1afaf;
}

.col-red {
  background-color: #ff8080;
  color: #000000;
}

.col-yellow {
  background-color: #ffff66;
  color: #000000;
}

.col-blue {
  background-color: #80ccff;
  color: #000000;
}
.text-grid {
  color: #fafafa;
}

.text-grid-gray {
  color: #7e7d7d;
}

legend.red {
  color: #ff8080;
}

legend.yellow {
  color: #ffff66;
}

legend.blue {
  color: #80ccff;
}

table {
  color: #7e7d7d;
}

/*---------------------------------------------------Typography*/
.title-museum {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #fafafa;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-size: 3rem;
}
.title-museum-small {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-size: 3rem;
}

.title-museum-body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #fafafa;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-size: 3rem;
}

nav div::first-letter {
  font-weight: 700;
  font-size: 150%;
}

.word-title::first-letter {
  font-weight: 700;
  font-size: 150%;
}

.word-title {
  display: inline-block;
}

nav div {
  display: inline-block;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fafafa;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-size: 2rem;
}

.text-grid {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4rem;
  font-size: 2rem;
  margin: auto 1.5rem;
}

.social-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fafafa;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.h2-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  font-size: 4rem;
  padding: 3rem 0;
  text-align: center;
}

.contact-invitation{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 3rem 0;
  text-align: center;
}

.h3-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 3rem 0;
  text-align: center;
}

.text-description {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 200;
  padding-top: 3rem;
  text-align: center;
}

.link-style {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #fafafa;
  text-decoration: none;
}

h5 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.h5-contact {
    font-size: 2rem;
    color: #fafafa;
}

.h5-title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #fafafa;
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.btn-red {
  font-family: "Lato", sans-serif;
}

form label{
  font-family: "Montserrat", sans-serif;
  color: #fafafa;
  font-size: 1.5rem;
  font-weight: 400;
  padding-top: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

form button {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.legend-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #fafafa;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 3rem 0 0 0;
  text-align: center;
}

/*---------------------------------------------------Body*/
html,
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

/*---------------------------------------------------Header*/
header {
  margin: 0;
  padding: 0;
  height: 10vh;
}

.link-index {
  display: block;
  text-decoration: none;
  color: #fafafa;
}

.light {
  font-weight: 300;
  font-size: 2rem;
  color: #fafafa;
}

.link-index:hover,
.link-index:active,
.link-index:visited {
  text-decoration: none;
  color: #fafafa;
}

.title-museum,
.title-museum-small {
  display: inline;
  padding-left: 2rem;
}

.link-index span.red,
.link-index span.yellow,
.link-index span.blue {
  font-size: 2rem;
}

.link-index div.red,
.link-index div.yellow,
.link-index div.blue {
  font-size: 3rem;
}

ul li {
  display: inline;
  margin: 2.5rem 0 0 2rem;
  line-height: 2;
}

.link-style.nav-link {
  font-size: 1.8rem;
}

.link-style:hover {
  font-weight: 700;
}

button.navbar-toggler.ml-auto{
    border: 1px solid #fafafa;
    height: 3rem;
}

/*---------------------------------------------------Main*/

main {
  margin-top: 15vh;
  position: relative;
}

/*---------------------------------------------------Hero*/

main.container-fluid {
  margin: 0 0 0 0;
  padding-top: 12vh;
  max-width: 100%;
}

.hero-image-style {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin: 0;
  padding: 0;
  max-height: 65rem;
  position: relative;
}

figcaption {
  text-align: right;
}

/*---------------------------------------------------Blockquote*/

.blockquote-style {
  background-color: #ff8080;
  border-radius: 1rem;
  padding: 1rem;
  margin: 5rem auto;
  text-align: center;
  width: 60%;
}

.blockquote-text {
  color: #fafafa;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.4rem;
  line-height: 2;
  font-size: 2rem;
}

.signature {
  font-family: "Jim Nightshade", cursive;
  font-size: 1.8rem;
  text-align: right;
}

hr {
  border-top: 1px solid #b1afaf;
  border-bottom: 1px solid #b1afaf;
}

/*---------------------------------------------------Index Body Text*/

.title-museum-body div.word-title.red,
.title-museum-body div.word-title.yellow,
.title-museum-body div.word-title.blue {
  font-size: 3rem;
}

.title-museum-body div.white {
  font-size: 2rem;
  font-weight: 300;
} 

/*---------------------------------------------------Upcoming Exhibitions*/
.upcoming {
  margin: 5rem 0;
}
.card-cover {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 36.8rem;
}
/*---------------------------------------------------Collection*/

.col-collection {
  height: 40rem;
}

.img-collection {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.collection {
  padding-bottom: 5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.text-grid {
  display: block;
}
/*---------------------------------------------------Museum*/

p.text-grid span.d-none.d-lg-block {
  font-size: 2rem;
}

address,
address span.bold {
  font-size: 1.5rem;
}

p.text-grid strong {
  font-size: 2rem;
}

time {
  font-size: 1.2rem;
}

table {
  padding-left: 10rem;
}

table th {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  color: #7e7d7d;
}

table td {
  font-size: 1.5rem;
  color: #7e7d7d;
  font-family: "Montserrat", sans-serif;
}

/*.br-menu{
    line-height: 3rem;
}*/

.menu {
  text-decoration: none;
  color: #fafafa;
}

a.menu span,
.icon-menu {
  font-size: 2rem;
}

a.menu:hover,
a.menu:active {
  text-decoration: none;
  color: #7e7d7d;
}

/*---------------------------------------------------Contact Form*/

.form-group-style {
  margin: 0 auto;
  width: 100%;
  background-color: #1e1e1e;
  padding: 0 3rem 3rem 3rem;
  border-radius: 2rem;
}

form {
  margin-bottom: 5rem;
}

.h5-contact {
  margin-bottom: 3rem;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
  background-color: #b1afaf;
  border: 3px solid #fafafa;
}


/*---------------------------------------------------Footer*/

footer {
  position: relative;
  padding-top: 3rem;
}

.icon {
  font-size: 2rem;
  color: #b1afaf;
  padding: 1rem 3rem;
}

.book-icon {
  font-size: 2rem;
  color: #fafafa;
  padding: 0 1rem;
}

.book-icon:hover,
.book-icon:active {
  text-decoration: none;
  color: #b1afaf;
}

.link-style:hover,
.link-style:active {
  color: #b1afaf;
  text-decoration: none;
}

.icon:hover,
.icon:active {
  text-decoration: none;
  color: #fafafa;
}

.title-museum span.red,
.title-museum span.yellow,
.title-museum span.blue {
  font-size: 3rem;
  font-weight: 400;
}

/*---------------------------------------------------Media Queries*/

@media (min-width: 768px) {
  .form-group-style {
    margin: 0 auto;
    width: 70%;
    padding-right: 5rem;
    padding-left: 5rem;
  }
}


@media (min-width: 992px) {
  .form-group-style {
    margin: 0 auto;
    width: 60%;
    padding-right: 10rem;
    padding-left: 10rem;
  }
}
